---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 	'Swiss911BT-Compressed', Ariel;
$base-font-size:   	16px;
$small-font-size:  	$base-font-size * 0.875;
$base-line-height: 	1.5;

$spacing-unit:     	30px;

$text-color:       	#111;
$background-color: 	#f3f3f3;
$brand-color:      	#e71212;

$grey-color:       	#828282;
$grey-color-light: 	lighten($grey-color, 40%);
$grey-color-dark:  	darken($grey-color, 25%);

$white: 			#fff;
$black: 			#000;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Fonts
// Swiss911
@import url("//hello.myfonts.net/count/2e6529");

@font-face {font-family: 'Swiss911BT-Compressed';src: url('fonts/2E6529_0_0.eot');src: url('fonts/2E6529_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2E6529_0_0.woff2') format('woff2'),url('fonts/2E6529_0_0.woff') format('woff'),url('fonts/2E6529_0_0.ttf') format('truetype');}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../node_modules/vanilla-framework/scss/vanilla",
        "base",
        "layout",
        "rows",
        "modules/cards",
        "modules/strips"
;

@include vanilla;
@include dl-base;
@include dl-layout;
@include dl-rows;
@include dl-cards;
@include dl-strips;

@import "pages/home";