
<div class="buy" id="buy">

  <div class="row strip-white">
    <div class="inner-wrapper">
      <h2>Flagship Red Demon</h2>
      <div class="six-col">
        <div class="payButton paypalCheckout">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8ARPBAXKSNSRQ">
            <input type="hidden" name="on0" value="Demon Lamp (including shipping)"><p>Select shipping (price shown includes product &amp; shipping)</span></p>
            <label>
            <div class="six-col">
              <select name="os0">
                <option value="UK &amp; Northern Ireland (Including VAT)">UK &amp; Northern Ireland £83.00 GBP</option>
                <option value="Europe (Including VAT)">Europe (Including VAT) £100.00 GBP</option>
                <option value="International">International £120.00</option>
              </select>
            </div>
            </label>
            <div class="six-col last-col align-center">
              <input type="hidden" name="currency_code" value="GBP">
              <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online." class="paypal-button">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </div>
          </form>

          <p>Free Energy Saving Bulb supplied with a compatible unit. Please see <a href="#shipping">our shipping</a> for more details. Price includes VAT:</p>
          <p class="price-left">&pound;75</p>
        </div>
      </div>


      <div class="six-col last-col">
        <img src="{{ site.baseurl }}/img/prod_shot_fp.jpg" at="Red Demon Lamp" />
      </div>

    </div>
  </div>
  <div class="row strip-dark sold-out">
    <div class="inner-wrapper">
      <h2>Special Limited Edition White Demon</h2>
      <div class="six-col">
        <h3 class="sold-out__title">Sold out</h3>
        <p>The limited editions are sold out. Keep your eyes peeled for more.</p>
        <p class="details">Free Energy Saving Bulb supplied with a compatible unit. Please see <a href="#shipping">our shipping</a> for more details. Price includes VAT:</p>
        <p class="price-left">&pound;95</p>
      </div>
      <div class="six-col last-col">
        <img src="{{ site.baseurl }}/img/white_demon.png" at="Special Limited Edition White Demon Lamp" width="173" height="214" />
      </div>
    </div>
  </div>
</div>
