
<div class="faq clearfix" id="faq">
	<div class="row strip-white">
		<div class="inner-wrapper">
			<h2>Frequently asked questions</h2>
			<div class="eight-col">
				<p>Here are answers to some common questions about the Demon Lamp product. These FAQs cover a small range of questions but if you have a question not shown below please contact us at <a href="mailto:{{site.email}}">{{site.email}}</a>.</p>
				<div class="card--grey">
					<dl>
						<dt>Is it possible to purchase a Demon Lamp via PayPal?</dt>
						<dd>Yes, please visit <a href="#buy">our buy page</a> to purchase via PayPal.</dd> 

						<dt>Is it possible to get delivery concessions if ordering 2 or more lamps?</dt>
						<dd>Sorry no we can not give a discount. We get no discount on any less than 12 lamps being dispatched. It is considered to be a large package particularly for international delivery. We are not a large company and we are not dispatching a large number of units. So we have no special deals in place with couriers.</dd>

						<dt>Is the VAT included in the price?</dt>
						<dd>Yes.</dd>

						<dt>Is the shipping cost included in the price?</dt>
						<dd>No, see shipping costs on <a href="#shipping">our shipping page</a> and/or in FAQ question below.</dd>

						<dt>What are the shipping costs to my country?</dt>
						<dd>Shipping Cost:<br />
						UK/Northern Ireland &pound;8<br />
						Europe &pound;20<br />
						International &pound;45</dd>

						<dt>What is it made of?</dt>
						<dd>Polypropolene (plastic)
						<br />
						We would have preferred to produce it in glass, but unfortunately it cost too much. We thought very carefully before releasing a plastic product out in the world.</dd>

						<dt>Does it take batteries?</dt>
						<dd>No.</dd>

						<dt>Can we keep it outside?</dt>
						<dd>Please do not use the lamp outside.</dd>

						<dt>The light bulb supplied with the unit was damaged on delivery. Can you replace it?</dt>
						<dd>Yes of course just drop us an email with your order number, and we will send out a new one.</dd>

						<dt>What is the minimum quantity on wholesale orders?</dt>
						<dd>12 Lamps.</dd>

						<dt>What is the unit cost on wholesale orders?</dt>
						<dd class="no-border">It varies depending on order size, so please contact us for more details at <a href="mailto:{{site.email}}">{{site.email}}</a>.</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
