<footer class="site-footer">

  <div class="inner-wrapper">

    <!-- AddThis Button BEGIN -->
    <div class="align-center share-buttons">
      <ul class="inline-list addthis_toolbox addthis_default_style">
        <li><a href="http://www.zulu-studios.com/"><img src="{{ site.baseurl }}/img/icn_witch.gif"></a></li>
        <li><a href="http://gorillaz.com"><img src="{{ site.baseurl }}/img/icn_g.gif"></a></li>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>
        <li><a class="addthis_button_compact"></a></li>
      </ul>
      <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d7ce8bf08c12c4f"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="footer-col-wrapper row no-border">
      <div class="three-col">
        <p><strong>Zombie Lighting Limited</strong></p>
      </div>

      <div class="three-col">
        <p>337 Latimer Road, London, W10&nbsp;6RA.</p>
      </div>

      <div class="three-col">
        <p><strong>Tel:</strong> +44(0)7989 581 792</p>
      </div>

      <div class="three-col last-col">
        <p><strong>Email:</strong> <a href="mailto:{{site.email}}">{{site.email}}</a></p>
      </div>

      <div class="twelve-col align-center">
        <p>&copy;{{ site.time | date: '%Y' }} Zombie Lighting</p>
    </div>

  </div>

</footer>