
<div class="shipping clearfix" id="gallery">
	<div class="row">
		<div class="inner-wrapper">
			<h2>Gallery</h2>
			<div class="six-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon1.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col last-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon2.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon3.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col last-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon4.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon5.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col last-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon6.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon7.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col last-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon8.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon9.jpg" alt="" class="gallery-image" />
			</div>
			<div class="six-col last-col card">
				<img src="{{ site.baseurl }}/img/gallery/demon10.jpg" alt="" class="gallery-image" />
			</div>
		</div>
	</div>
</div>
