<div class="home clearfix">

  <div class="row row-hero slider">

    <div class="slide-one">
      <div class="inner-wrapper">
        <div class="six-col prepend-six last-col">
          <h1>Let there be light!</h1>
        </div>
        <div class="eight-col no-margin-bottom">
          <p class="intro">A limited run of official Gorillaz merchandise.</p>
        </div>
      </div>
    </div>

    <div class="slide-two">
      <div class="inner-wrapper">
      </div>
    </div>

    <div class="slide-three">
      <div class="inner-wrapper">
        <div class="twelve-col align-center">
          <h2>A limited run of official Gorillaz Merchandise!</h2>
        </div>
      </div>
    </div>

    <div class="slide-four">
      <div class="inner-wrapper">
      </div>
    </div>

    <div class="slide-five">
      <div class="inner-wrapper">
        <div class="two-col prepend-one">
          <h1>Let there be light!</h1>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="inner-wrapper">

      <div class="three-col gap-at-top">
        <h2>Dimensions</h2>
        <ul class="list">
          <li>Width: 40cm</li>
          <li>Height: 40cm</li>
          <li>Depth: 23cm</li>
          <li>Package Weight: 1.5 KG</li>
        </ul>
      </div>

      <div class="six-col card">
        <p class="align-center uppercase">Designed and created by Jamie Hewlett and Zombie&nbsp;Lighting</p>
        <p class="text-strip align-center uppercase">Eco friendly energy saving lamp</p>
        <p class="price">&pound;75</p>
        <div class="six-col align-center">
            <a href="#buy" class="button--secondary">Buy now with <img src="{{ site.baseurl }}/img/payment-method-paypal.png" alt="PayPal" /></a>
        </div>
        <p class="align-center">FREE Energy Saving Bulb supplied with a compatible unit. Please see <a href="#shipping">our shipping</a> for more details. No price increases with VAT</p>
      </div>

      <div class="three-col last-col gap-at-top align-right">
        <h2>Shipping costs</h2>
        <ul class="list">
          <li>UK &amp; Northern Ireland &pound;8</li>
          <li>Europe &pound;20</li>
          <li>International &pound;45</li>
        </ul>
        <p class="align-right"><img src="{{ site.baseurl }}/img/credit-cards.png" alt="Excepted credit cards" /> </p>
      </div>

    </div>
  </div>
</div>