
<div class="product-info clearfix" id="product-info">
  <div class="row">
    <div class="inner-wrapper">
      <h2>Product Information</h2>
      <div class="six-col append-six">
        <p>Designed and created by Jamie Hewlett and Zombie Lighting. Eco friendly, energy saving lamp.</p>
      </div>
      <div class="six-col">
        <h3>Dimensions</h3>
        <ul class="list">
          <li>Width: <strong>40cm</strong></li>
          <li>Height: <strong>40cm</strong></li>
          <li>Depth: <strong>23cm</strong></li>
          <li>Package Weight: <strong>1.5 KG</strong></li>
        </ul>
      </div>
      <div class="six-col last-col">
        <img src="{{ site.baseurl }}/img/prod_info.png" alt="Demon lamp image" />
      </div>
  </div>
  </div>
</div>
