
<div class="shipping clearfix" id="shipping">
	<div class="row strip-white">
		<div class="inner-wrapper">
			<div class="three-col">
		        <h2>Shipping costs</h2>
		        <ul class="list">
		          <li>UK &amp; Northern Ireland <strong>&pound;8</strong></li>
		          <li>Europe <strong>&pound;20</strong></li>
		          <li>International <strong>&pound;45</strong></li>
		        </ul>
			</div>
			<div class="eight-col last-col">
				<img src="{{ site.baseurl }}/img/world-map.gif" alt="Voltage world map" />
			</div>
		</div>
	</div>
</div>
