.home {
	.row-hero {
		margin-top: 0;
		background-image: url('../img/hero-image.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $black;
		color: $white;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(1, 1, 1, 0.15);
        -moz-box-shadow: 1px 1px 2px 0px rgba(1, 1, 1, 0.15);
        box-shadow: 1px 1px 2px 0px rgba(1, 1, 1, 0.15);
        text-transform: uppercase;
        padding-top: $gutter-width;
        padding-bottom: $gutter-width;

		.intro {
			margin-top: 270px;
		}
	}

	.text-strip {
		margin-left: -20px;
		margin-right: -20px;
		background: $brand-color;
		padding: 5px 20px;
		color: $white;
	}

	.button--secondary {
		color: $text-color;
		font-size: 1.6em;

		&:focus {
			text-decoration: none;
		}

		img {
			max-width: 100px;
			margin-bottom: 0;
			display: inline-block;
			position: relative;
			margin-left: 2px;
		}
	}

  	@media only screen and (min-width: $breakpoint-medium) {
		.gap-at-top {
			margin-top: 100px;
		}
		.align-right {
			text-align: right;
		}
	}

}