%slider-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: $black;
	padding-top: $gutter-width;
	padding-bottom: $gutter-width;
	height: 430px;

	@media only screen and (max-width: $breakpoint-medium) {
		padding: 20px;
	}
}

.home {
	.row-hero {
		font-family: $secondary-font-family;
		color: $white;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(1, 1, 1, 0.15);
        -moz-box-shadow: 1px 1px 2px 0px rgba(1, 1, 1, 0.15);
        box-shadow: 1px 1px 2px 0px rgba(1, 1, 1, 0.15);
        text-transform: uppercase;
        padding: 0;
        overflow: hidden;
        height: 465px;
        max-width: 1200px;
  		margin: 0 auto;

	    .slick-next {
	        right: 30px;
	        background-image: url('../img/slider-arrow-right-white.png');
	        width: 44px;
	        height: 36px;
	        text-indent: -3000px;

	        &:before {
	        	display: none;
	        }
	    }

	    .slick-prev {
	        left: 30px;
	        background-image: url('../img/slider-arrow-left-white.png');
	        width: 44px;
	        height: 36px;
	        text-indent: -3000px;

	        &:before {
	        	display: none;
	        }
	    }

        .inner-wrapper {
        	position: relative;
        	height: 100%;
        }

		.intro {
			margin-top: 270px;
		}

		.slide-one {
			@extend %slider-background;
			background-image: url('../img/hero-image-1.jpg');
		}

		.slide-two {
			@extend %slider-background;
			background-image: url('../img/hero-image-2.jpg');
		}

		.slide-three {
			@extend %slider-background;
			background-image: url('../img/hero-image-3.jpg');
		}

		.slide-four {
			@extend %slider-background;
			background-image: url('../img/hero-image-4.jpg');
		}

		.slide-five {
			@extend %slider-background;
			background-image: url('../img/hero-image-5.jpg');
			color: $brand-color;

			h1 {
				margin-top: 100px;
			}
		}
	}

	.text-strip {
		margin-left: -20px;
		margin-right: -20px;
		background: $brand-color;
		padding: 5px 20px;
		color: $white;
	}

	.button--secondary {
		color: $text-color;
		font-size: 1.6em;

		&:focus {
			text-decoration: none;
		}

		img {
			max-width: 100px;
			margin-bottom: 0;
			display: inline-block;
			position: relative;
			margin-left: 2px;
		}
	}

  	@media only screen and (min-width: $breakpoint-medium) {
		.gap-at-top {
			margin-top: 100px;
		}
		.align-right {
			text-align: right;
		}
	}

}
